---
title: About
---

<div class="animation-about-me">
  <div class="marquee">
    <h1 class="sliding-title">about me</h1>
  </div>
  <div class="marquee marquee2">
    <h1 class="sliding-title">about me about me</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5 d-flex justify-content-center">
      <img src="/images/me.jpg" alt="Giacomo Camisassa" class="profile-img">
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="about-text-container">
        <p class="about-text">
          I'm a product manager in the fintech and wealth-tech spaces. Currently,
          I am building solutions for the private markets, including both
          investor-facing mobile/web applications and back-office automation
          solutions for investment funds. I am passionate about technology and
          I am working toward becoming more of a "technical" builder.
        </p>
        <p class="about-text">
          Before, I worked as a management consultant in India, covering consumer
          tech and private equity / venture capital sectors. I was also a founder,
          but unfortunately we had to shut down due to a few wrong go-to-market
          choices.
        </p>
      </div>
    </div>
    <div class="col-5"></div>
  </div>
</div>
