---
title: About
---
<div class="d-flex">
  <p class="marquee">
    <span class="sliding-title">About me About me About me About me About me</span>
  </p>
  <p class="marquee marquee2">
    <span class="sliding-title">About me About me About me About me About me</span>
  </p>
</div>
