<footer>
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to '<i class="fa-brands fa-github mr-2" style="color: #ffffff;"></i>', 'https://github.com/Giaccam', target: :_blank %>
      <%= link_to '<i class="fa-brands fa-linkedin mx-2" style="color: #ffffff;"></i>', 'https://www.linkedin.com/in/camisassagiacomo/', target: :_blank %>
    </div>
    <%= mail_to 'giacomo@camisassa.com', "Contact", cc: 'web@camisassa.com', class: "nav-link navigation-link-text" %>
  </div>
</footer>
