<nav class="navbar footer-bottom">
  <div>
    <%= link_to '<i class="fa-brands fa-github mr-2" style="color: #ffffff;"></i>', 'https://github.com/Giaccam', target: :_blank %>
    <%= link_to '<i class="fa-brands fa-linkedin mx-2" style="color: #ffffff;"></i>', 'https://www.linkedin.com/in/camisassagiacomo/', target: :_blank %>
  </div>
  <p class="nav-item">
    <%= mail_to 'giacomo@camisassa.com', "Contact", cc: 'web@camisassa.com', class: "nav-link navbar-link-text" %>
    <%# <a class="nav-link navbar-link-text" href="#">Contact</a> %>
  </p>
</nav>
