<header class="mx-5 mt-4">
  <div class="d-flex justify-content-between mb-5">
    <p class="navbar-logo-text">giaccam.</p>
    <% if current_page.data.title == "Home"%>
      <%= link_to 'About', '/about.html', class: "nav-link navigation-link-text" %>
    <% else %>
      <%= link_to 'Home', '/index.html', class: "nav-link navigation-link-text" %>
    <% end %>
  </div>
</header>
