// html {
//   height: 100% !important;
// }

body {
  background: rgb(39,0,93);
  background: radial-gradient(circle, rgba(39,0,93,1) 0%, rgba(25,24,37,1) 100%);
  font-family: 'Inter', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.main-title {
  color: white;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 0px;
}

.sliding-title {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}

.scrolling {
  @keyframes slideInLeft {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0)
    }
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-iteration-count: infinite;
}

.navbar-logo-text {
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
}

.navbar-link-text {
  color: #dadada;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
}

.navbar-link-text:hover {
  color: white;
}
