//////////////////////////////////////////////////////////////// Layout

body {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  // background pattern
  --dot-bg: rgb(18, 0, 43);
  --dot-color: #503d85;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}


.flex-container {
  height: 100vh; //TODO: check why is not working with 100%? and only 100vh?
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}

.flex-container-navbar {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 20px 20px 20px;
}

.flex-container-footer {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 20px 20px 20px;
}

//////////////////////////////////////////////////////////////// Navbar & Footer

.navbar-logo-text {
  color: #c8c7c7;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  pointer-events: none;
  margin-bottom: 0;
}

.navigation-link-text {
  color: #c8c7c7;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
}

.navigation-link-text:hover {
  color: white;
}

//////////////////////////////////////////////////////////////// Home

.flex-container-body {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 0px;
}

//////////////////////////////////////////////////////////////// About

.flex-container-about {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px 50px;
  max-height: 750px;
}

.flex-container-paragraph {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-container-profile-img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-title {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0px;
  pointer-events: none;
  margin-bottom: 80px;
}

.about-text {
  color: #c8c7c7;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0px;
  pointer-events: none;
  padding-left: 60px;
}

.profile-img {
  height: auto;
  max-width: 60%;
  border-radius: 6% 6% 6% 6%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


// small devices responsiveness

@media all and (max-width: 1200px) {

  .flex-container-about {
    max-height: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .flex-container-paragraph {
    justify-content: center;
    align-items: center;
  }

  .about-title {
    font-size: 60px;
    margin-bottom: 30px;
    padding-left: 30px;
    align-self: flex-start;
  }

  .about-text {
    padding-left: 30px;
    padding-right: 30px;
  }

  .flex-container-profile-img {
    display: none;
  }
}
