//////////////////////////////////////////////////////////////// Layout

body {
  background: rgb(39,0,93);
  background: radial-gradient(circle, rgba(39,0,93,1) 0%, rgba(25,24,37,1) 100%);
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex-container {
  height: 100vh; //TODO: check why is not working with 100%? and only 100vh?
  display: flex;
  flex-direction: column;
}

.flex-container-navbar, .flex-container-footer {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 20px 20px 20px 20px;
}

//////////////////////////////////////////////////////////////// Navbar & Footer

.navbar-logo-text {
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  pointer-events: none;
  margin-bottom: 0;
}

.navigation-link-text {
  color: #dadada;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
}

.navigation-link-text:hover {
  color: white;
}

//////////////////////////////////////////////////////////////// Home

.flex-container-body {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: white;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 0px;
}

//////////////////////////////////////////////////////////////// About

.flex-container-about {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px 50px;
}

.flex-container-paragraph {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-container-profile-img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sliding-title {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-align: center;
  font-size: 180px;
  font-weight: 300;
  letter-spacing: 0px;
  white-space: nowrap;
}

.about-text {
  color: white;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0px;
  pointer-events: none;
  padding-left: 60px;
}

.profile-img {
  height: auto;
  max-width: 60%;
  border-radius: 6% 6% 6% 6%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media (max-width: 1250px) {
  .profile-img {
    display: none;
  }
  .animation-about-me {
    display: none;
  }
  .about-text-container {
    margin: auto;
  }
}

/////////////////////////////// Animation

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
}

.marquee h1 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 36s linear infinite;
}

.marquee2 h1 {
  animation-delay: 18s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
